{% extends 'base.html.twig' %}

{% block title %}Delete Product{% endblock %}

{% block body %}
    <h1>Delete Product</h1>
    
    <p>Are you sure you want to delete ? khemem</p>

    <form method="post">
        <button>Yes</button>

        <a href="{{ path('app_product_show', {'id': id})}}">No</a>
    </form>
{% endblock %}